.header{
    @include flex-center;
    flex-direction: row;
    justify-content: space-between;
    gap: $space-s;
    padding: $space-xxs $space-m;
    border-bottom: 1px solid $black;
    box-shadow: $box-shadow;
}

.logo-box{
    @include flex-center;
    gap: $space-xxs;
}

.logo{
    width: 56px;
    height: 56px;
}

.header-text{
    display: block;
    color: $black;
   
}

.nav-contacts{

    display: none;
}

.nav-btn{
  @include btn;   
}

.header-btn {
    @include btn;
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    gap: $space-xxs;
    
    .icon {
        display: inline-block;
        width: $space-s;
        height: $space-s;
        width: $space-xs;
        height: $space-xs;
        
        img {
            width: 100%;
            height: 100%;
            filter: invert(1) brightness(2);
        }
    }
}