.main {
    @include flex-column;
    gap: $space-s;
     padding:  $space-xs 0;

     @media screen and (min-width: 768px) {
        padding:  $space-xs $space-m;;
     }
}

.section{
    padding: $space-l 0;
}
.container{
    @include flex-column;
    gap: $space-s;
    padding: 0;

    @media screen and (min-width: 768px) {
        padding: 0 $space-xs;
    } 
}

.first-name{
    display: block;
    margin-bottom: $space-xxs;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
    }
}

.name{
    @include title-1;
    text-wrap: nowrap;
    font-family: $font-family;
}

.profession{
    @include title-2;
}

.section-title {
    @include title-3;
}

.section ol {
    @include flex-column;
}

.projects-link{
    font-family: $font-family;
    color: currentColor;
    text-transform: capitalize;

    &:hover, &:focus {
        color: $bright-purple;
        font-weight: bold;
    }
}

.projects-link-text{
   @include link-text;
}
.tech-name{
    @include text;
    text-transform: capitalize;
}

.text{
    @include text;
}

.text-L{
    @include text;
    font-style: 20px;
    }
