.sidebar {
    @include flex-column;
    gap: $space-s;
    padding:  $space-xs $space-m;
    background-color: $purple;
    color: $white;
    max-width: 400px;
    
}

.my-photo{
    display: block;
    width: 200px;
    height: 300px;

    border: 1px solid $black;
    border-radius: 50%;
    overflow: hidden; 
    position: relative;
}

.sidebar-title{
    @include title-3;
}

.contacts-link{
    color: $white;
    &:hover, &:focus{
        color:$yellow;
    }
}

.sidebar-container{
    @include sidebar-container;
}