* {
    box-sizing: border-box;
}

body {
    @include flex-center;
    background-color: #fff;
    font-family: $font-family;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    text-transform: capitalize;
}

.wrapper {
    padding: 0 $space-m;
    background: $white;
    max-width: 1200px;
    margin: 0 auto;
    
}

.content{
    min-width: 400px;
    background: $bg;
    margin: 0 auto;
    padding: $space-s $space-m; 
     box-shadow:$box-shadow; 

    @media screen and (min-width:768px) {
      display: flex;
      gap:$space-s;  
    } 
}

.link{
    color: $purple;     
    text-decoration: none;
    text-transform: capitalize; 

&:hover, &:focus {
        color: $bright-purple;
        font-weight: bold;
    }
}


